parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: var/phpstan
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
    excludePaths:
        - tests/Functional/App/var/*
